html {
  height: 100%;
  background-color: #eee;
}

body {
  height: 100%;
  margin: 0;
  padding: 0 2rem 2rem 2rem;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Specific global classes */

.sdkapp-container {
  height: 100%;
  overflow: scroll;
}
